:root {
   --main-width: 25em;
   --main-margin: 1em;
   --logo-height: 2em;
   --main-theme: #f04747;
   --main-dark: #2f3136;
}
* {
   margin: 0;
   padding: 0;
}
body {
   font-family: 'Segoe UI', 'Helvetica', 'Arial', sans-serif;
   overflow-x: hidden;
}
.modalContainer {
   top: -0.5em;
   display: inline-block;
   position: absolute;
   background-color: rgba(0, 0, 0, 0.274);
   height: 130vh;
   width: 100vw;
}
@media (max-width: 440px){
   .modalContainer {
      height: 141.5vh;
   }
}
.modal {
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
   margin-bottom: var(--main-margin)
}
.modalClose {
   background-color: white;
   border-radius: 1.5em;
   padding: 0.5em 1em;
   border: 3px solid black;
   margin: 1em auto;
   width: 3em;
}
.modalClose p {
   display: block;
   text-align: center;
}
.modalClose:hover {
   background-color: rgb(224, 224, 224);
   cursor: pointer;
}
#img {
   height: var(--main-width);
   width: var(--main-width);
   border-top-left-radius: var(--main-margin);
   border-top-right-radius: var(--main-margin);
}
#description {
   background-color: black;
   color: white;
   width: 22.8em;
   text-align: center;
   padding-top: 1.5em;
   padding-bottom: 1.5em;
   font-size: 1.1em;
}
#smaller-container {
   display: flex;
   flex-direction: column;
   width: var(--main-width);
   border-bottom-left-radius: var(--main-margin);
   border-bottom-right-radius: var(--main-margin);
   background-color: white;
   user-select: none;
}
.logo-container {
   height: 2.5em;
   display: flex;
   justify-content: space-between;
   align-items: center;
   border-bottom: 2px solid #f1f0ec;
   padding: 1em;
}
#apple-music-container {
   border: none;
}
.logo-container:hover {box-shadow: 0px 0px 13px -1px rgba(0,0,0,0.5);}
.logo-text {
   font: 400 13.3333px Arial;
   font-weight: 600;
   color: rgb(71, 71, 71);
   border: 1px solid rgb(228, 219, 219);
   padding: 0.5em;
   text-decoration: none;
   color: #333;
   border-radius: 1em;
   font-size: 0.9em;
   padding: 0.4em 1em;
}
.logo-text:hover {
   text-decoration: none;
   background-color: #333;
   color: white;
}
#discord {height: 3em;}
#youtube {height: 5em;}
#spotify {height: 2.7em;}
#soundcloud {height: 1em;}
#apple-music {height: 2.15em;}

.GreetingContainer {
   height: 100vh;
   width: 100vw;
   display: flex;
   padding-top: 5em;
   justify-content: flex-start;
   align-items: center;
   flex-direction: column;
}
.DarkGreetingContainer { background-color: var(--main-dark)}
.LightGreetingContainer { background-color: white;}

.GreetingTitle {
   border-bottom: 0.33em solid var(--main-theme);
   font-size: 3em;
}
.DarkGreetingTitle {color: white}
.LightGreetingTitle {color: black}
/* icons  */
#GreetingButtonsContainer {
   display: flex;
   flex-direction: row;
}
#GreetingButtonsContainer i {
   margin: 0.5em;
   font-size: 1.5em;
   border-radius: 50%;
   padding: 0.5em;
   background-color: white;
}
#GreetingButtonsContainer *:hover {
   transition: 500ms;
   transform: rotate(360deg);
   cursor: pointer;
}
/* sun  */
#GreetingButtonsContainer #sun {
   background-color: #42a2da;
   border: 3px solid #f5cb11;
   color: #f5cb11;
}
/* moon  */
#GreetingButtonsContainer #moon {
   background-color: black;
   border: 3px solid rgb(184, 184, 184);
   color: white;
}
/* music  */
#GreetingButtonsContainer #music {
   background-color: white;
   border: 3px solid #FF69B4;
   color: #FF69B4;
}